ansible_ssh_user={{ system_user }}
ansible_become=yes

[local_target]
localhost  ansible_connection=local  ansible_python_interpreter='/usr/bin/env python'

[nodes]
{{workshop_prefix}}.[{{ node_index_offset }}:{{ number_nodes }}].{{ domain_name }}

[all_nodes]
{{workshop_prefix}}.[{{ node_index_offset }}:{{ number_nodes }}].{{ domain_name }}
