#!/usr/bin/env bash

# USAGE: source env.sh

export AWS_ACCESS_KEY_ID="";
export AWS_SECRET_ACCESS_KEY="";

# cli.thirdparty account created under rsoares aws IAM (ask rsoares@redhat.com for these credentials)
#    this account give access to workshops.redhatbr.io subdomain
export SHARED_ROUTE53_AWS_ACCESS_KEY_ID=""
export SHARED_ROUTE53_AWS_SECRET_ACCESS_KEY="";

echo "AWS Keys exported";

env | grep AWS

